@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html,
  body {
    font-family: 'Amiri', serif !important;
    @apply text-gray-800 bg-gray-50 dark:bg-dark-bg dark:text-dark-text transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #b45309;
  border-radius: 4px;
}

/* Book Cover Aspect Ratio */
.book-cover {
  aspect-ratio: 2/3;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}